#skills,
#socials {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  margin: 1rem 0 0;
}

#email-link {
  margin-top: 1rem;
}

.simple-split {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.icon-badge {
  display: flex;
  font-size: 20px;
  gap: 8px;
  align-items: center;
  color: var(--brown-5);
  max-width: fit-content;
}

.icon-badge svg {
  fill: var(--brown-5);
  height: 24px;
  width: 24px;
}

.link {
  color: var(--brown-5);
  text-decoration: none;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-property: color;
}

.link:active {
  color: var(--brown-6);
}

.link.icon-badge:active svg {
  fill: var(--brown-6);
}

.link.icon-badge svg {
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-property: fill;
}

.cta-link {
  font-size: 20px;
  padding: 0.6rem 1.5rem;
  border-radius: 6px;
  border: 1px solid var(--brown-5);
  display: flex;
  max-width: fit-content;
  color: var(--brown-5);
  text-decoration: none;
  font-weight: bold;
  transition-property: background-color, border-color, color;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 1rem;
}

.cta-link svg {
  width: 20px;
  height: 20px;
  fill: var(--brown-5);
  margin-top: 2px;
  transition-property: fill;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.cta-link:hover {
  background-color: var(--brown-2);
}

.cta-link:active {
  background-color: var(--brown-4);
  border-color: var(--brown-6);
  color: var(--brown-6);
}

.cta-link:active svg {
  fill: var(--brown-6);
}
