.icon-badges {
  display: flex;
  list-style: none;
  column-gap: 1.5rem;
  row-gap: 1rem;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

#email-link {
  margin-top: 1rem;
}

.simple-split {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.icon-badge {
  display: flex;
  font-size: 20px;
  gap: 8px;
  align-items: center;
  color: var(--brown-5);
  max-width: fit-content;
}

.icon-badge svg {
  fill: var(--brown-5);
  height: 24px;
  width: 24px;
}

.link {
  color: var(--brown-5);
  text-decoration: none;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-property: color;
}

.link:active {
  color: var(--brown-6);
}

.link.icon-badge:active svg {
  fill: var(--brown-6);
}

.link.icon-badge svg {
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-property: fill;
}

.cta-link {
  font-size: 20px;
  padding: 0.6rem 1.5rem;
  border-radius: 6px;
  border: 1px solid var(--brown-5);
  display: flex;
  max-width: fit-content;
  color: var(--brown-5);
  text-decoration: none;
  font-weight: bold;
  transition-property: background-color, border-color, color;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 1rem;
}

.cta-link svg {
  width: 20px;
  height: 20px;
  fill: var(--brown-5);
  margin-top: 2px;
  transition-property: fill;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.cta-link:hover {
  background-color: var(--brown-2);
}

.cta-link:active {
  background-color: var(--brown-4);
  border-color: var(--brown-6);
  color: var(--brown-6);
}

.cta-link:active svg {
  fill: var(--brown-6);
}

.project-date,
.project-tags > *,
.project-tag {
  margin: 0;
}

.project-tags > *,
.project-tag {
  padding: 0 0.5rem;
  border: 1px solid var(--brown-5);
  color: var(--brown-5);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25rem;
}

.project-tags {
  display: flex;
  gap: 0.25rem;
  margin-bottom: 1rem;
  max-width: fit-content;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  gap: 0.75rem;
}

.list li {
  line-height: 30px;
}

.project-image {
  border-radius: 8px;
  border: 1px solid var(--brown-5);
  overflow: hidden;
  width: 100%;
}

.project-split {
  display: flex;
  gap: 1rem;
  align-items: start;
}

.project-split > * {
  flex: 1;
}

.project-figure {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.project-figure figcaption {
  font-style: italic;
}

@media screen and (max-width: 896px) {
  .simple-split {
    flex-direction: column-reverse;
  }

  .simple-split > div {
    text-align: center;
  }

  #email-link {
    margin-left: auto;
    margin-right: auto;
  }

  #home-avatar {
    width: 200px;
  }

  #about-avatar,
  #contact-avatar {
    width: 150px;
  }

  .cta-link {
    margin: 1rem auto 0;
  }

  .icon-badges {
    justify-content: center;
  }

  .project-split {
    flex-direction: column;
    gap: 1.5rem;
  }

  section .icon-badges {
    justify-content: start;
  }
}

@media screen and (max-width: 640px) {
  .project-header {
    flex-direction: column;
    align-items: start;
  }
}
